<a href="https://colab.research.google.com/github/SagarPDeore/labs/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv

# A) Find the employee who is having maximum salary.
def find_employee_with_maximum_salary(data):
    max_salary = 0
    max_salary_employee = ""
    for row in data:
        salary = int(row[2])  # Assuming salary is in the third column
        if salary > max_salary:
            max_salary = salary
            max_salary_employee = row[0]  # Assuming employee name is in the first column
    return max_salary_employee

# B) Find the employee who's job title is Chief Human Resources.
def find_employee_with_job_title(data, job_title):
    for row in data:
        if row[1] == job_title:  # Assuming job title is in the second column
            return row[0]  # Assuming employee name is in the first column
    return None

# C) Find the experience of all the employees.
def find_employee_experience(data):
    experiences = {}
    for row in data:
        employee_name = row[0]  # Assuming employee name is in the first column
        hire_year = int(row[3])  # Assuming hire year is in the fourth column
        current_year = 2023  # Assuming the current year is 2023
        experience = current_year - hire_year
        experiences[employee_name] = experience
    return experiences

# D) Find the total basic pays of employees in Fiscal Quarter 4.
def find_total_basic_pay(data, fiscal_quarter):
    total_basic_pay = 0
    for row in data:
        pay_period = row[4]  # Assuming pay period is in the fifth column
        basic_pay = float(row[5])  # Assuming basic pay is in the sixth column
        if pay_period == fiscal_quarter:
            total_basic_pay += basic_pay
    return total_basic_pay

# Read the employee payroll dataset from a CSV file
with open('dataset5.csv', 'r') as file:
    csv_reader = csv.reader(file)
    data = list(csv_reader)

    # Call the functions for each task
    max_salary_employee = find_employee_with_maximum_salary(data)
    print("Employee with maximum salary:", max_salary_employee)

    chief_hr_employee = find_employee_with_job_title(data, "Chief Human Resources")
    print("Employee with job title 'Chief Human Resources':", chief_hr_employee)

    employee_experience = find_employee_experience(data)
    print("Employee experience:")
    for employee, experience in employee_experience.items():
        print(employee, ":", experience, "years")

    fiscal_quarter = 4
    total_basic_pays = find_total_basic_pay(data, fiscal_quarter)
    print("Total basic pays for Fiscal Quarter", fiscal_quarter, ":", total_basic_pays)

ValueError: ignored