<a href="https://colab.research.google.com/github/SagarPDeore/labs/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
def t(l):
  return l * 10
l = [1,2,3,4,5]
df = pd.DataFrame(l)
newdf = df.transform(t)
print(newdf)

    0
0  10
1  20
2  30
3  40
4  50

In [ ]:
df_person = pd.DataFrame([
    ['person 1', 'melbourn', '3024'],
    ['person 2', 'sydney', '24453'],
    ['person 3', 'delhi', '477465'],
    ['person 4', 'mumbai', '45345']
], columns=['name','city','pin'])
df_person

       name      city     pin
0  person 1  melbourn    3024
1  person 2    sydney   24453
2  person 3     delhi  477465
3  person 4    mumbai   45345

In [ ]:
l1=[1,2,3,"abc"]
l2=[10,20,30,40,45]
a = [*l1,*l2]
b = [l1,l2]
print(a)
print(b)

[1, 2, 3, 'abc', 10, 20, 30, 40, 45]
[[1, 2, 3, 'abc'], [10, 20, 30, 40, 45]]

In [ ]:
d = float(input("enter currency"))
s = d*73
print(round(s,2))

enter currency10
730.0